scalastyle-config.xml
classes/
out/
META-INF/
target/
project/project/
project/target/
.idea/
.sbtopts
*.iml
*.sc
logs/*
target
logs
bin

.iml

# Mobile Tools for Java (J2ME)
.mtj
.tmp

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
.classpath
.project
.externalToolBuilders
.DS_Store
.idea
*.iml
input
*.class
*.versionsBackup
